<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 class="h1">Edit Post</h1>

  <div class="form">
    <form action="/post/edit/<%= post._id %>" method="post">
      <textarea placeholder="Write Somethig here... " name="content" id="textarea" required><%=post.content%></textarea>
      <button style="background-color: rgb(219, 142, 41);" type="submit" id="Create">Update</button>
    </form>
  </div>
</body>

</html>