<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="h1">Upload Profile Picture</h1>

   <form style="margin: 20px 40px;" method="post" action="/profile/upload" enctype="multipart/form-data">
    <input style="font-size: 16px; display: block;" type="file" name="dp">
    <button style="background-color: #4969f5; border-radius: 5px; padding: 10px 20px; border: none; font-size: 14px; margin: 20px 0; cursor: pointer;" type="submit">Upload File</button>
   </form>
</body>

</html>